@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root{
    --pri-color: #111727;
    --sec-color: #FE4E30;
    --bg-1: #E3E7EB;
    --bg-2: #FFF;
}

/*. Reset */
html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: grey;
}

/*. My CSS */

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-1);
    box-sizing: border-box;
}

header{
    background-color: var(--bg-2);
}

/*. Navigasi */
nav{
    padding: .5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    width: 300px;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 50px;
}

nav a:nth-child(2){
    font-weight: bold;
}

.nav-right a{
    background-color: var(--pri-color);
    padding: .5em 1em;
    color: white;
    border-radius: 10px;
    transition: .5s;
}

.nav-right a:hover{
    background: white;
    font-weight: 700;
    color: var(--pri-color);
    border: 1px solid black;
    transition: .3s;
}

/*. Form */

form{
    width: 400px;
    margin: 0 auto 150px auto;
    position: relative;
}

form h1{
    text-align: center;
}

form p{
    margin-bottom: 0;
    font-weight: 500;
}

form input, form textarea, .file-input{
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    background-color: var(--bg-2);
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(128, 128, 128, 0.5);
}

.date{
    display: flex;
    justify-content: space-between;
}

.date label{
    width: 48%;
}

form textarea{
    height: 5rem;
}
    /*. Checkbox Input */
.checkbox{
    display: flex;
    flex-wrap: wrap;
}

.checkbox p{
    flex-basis: 100%;
}

.checkbox label{
    display: flex;
    align-items: center;
    flex: 50%;
    cursor: pointer;
}

.checkbox label:hover{
    color: grey;
}

.checkbox input{
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 15px 10px 15px 0;
    cursor: pointer;
    position: relative;
}

.checkbox input::after{
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('./../img/project/bx-check.svg');
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.checkbox input:checked::after{
    display: block;
}

    /*. File Input */

.file-input{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.file-input p{
    margin: 0;
    padding: 5px 10px;
    background-color: var(--bg-1);
    box-shadow: .5px .5px 2px grey;
    color: grey;
}

.file-input i{
    padding-right: 10px;
    font-size: x-large;
}

input[type="file"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transform: scale(3);
}


    /*. Form Button  */
form button{
    background-color: var(--pri-color);
    padding: .3em 2em;
    border-radius: 20px;
    font-family: inherit;
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: -4.5rem;
    right: 0;
    transition: .5s;
}

form button:hover{
    background-color: var(--bg-2);
    font-weight: 700;
    color: black;
    border: 1px solid black;
    transition: .3s;
}

/*. My Project */

.project{
    background-color: var(--bg-2);
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project h1{
    width: 100%;
    text-align: center;
    margin: 30px;
}

.project-item{
    width: 325px;
    margin: 20px;
    padding: 17px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(128, 128, 128, .5);
}

.project-img{
    box-shadow: 0 2px 5px rgba(128, 128, 128, .5);
    aspect-ratio: 8/6;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 10px;
}

.project-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-item h3{
    margin-bottom: 0;
}

.project-time{
    color: grey;
    font-size: small;
}

.project-item p{
    margin-top: 0;
    font-size: 1rem;
}

.project-technologies{
    font-size: 2.3rem;
}

.project-button{
    display: flex;
    justify-content: space-between;
}
.project-button p{
    width: 160px;
    background-color: var(--pri-color);
    border-radius: 7px;
    color: white;
    text-align: center;
    line-height: 1.7em;
    cursor: pointer;
}

.project-button p:hover{
    color: black;
    font-weight: 500;
    background-color: var(--bg-2);
    border: 1px solid black;
}

/*. Project Detail */

.project-detail{
    width: 100%;
    height: 100vh;
    background-color: #000000ab;
    padding: 50px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: scroll;
}

.project-detail-container{
    width: 70%;
    background-color: var(--bg-2);
    margin: auto;
    margin-bottom: 80px;
    padding: 0 5% 5% 5%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.project-detail h1{
    text-align: center;
    flex-basis: 100%;
}

.project-detail-img{
    flex: 55%;
    aspect-ratio: 9/6;
    margin-right: 5%;
    margin-bottom: 30px;
    background-size: cover;
}

.project-detail-right{
    flex: 40%;
}

.project-detail-duration, .project-detail-technologies{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.project-detail-duration h3, .project-detail-technologies h3{
    margin: 0;
    flex-basis: 100%;
    font-weight: 500;
    line-height: normal;
}

div.project-detail-duration p, div.project-detail-technologies p{
    margin: 0;
    flex-basis: 100%;
    color: rgb(73, 73, 73);
    font-size: medium;
    display: flex;
    align-items: center;
    line-height: normal;
}

.project-detail-duration i, .project-detail-technologies i{
    color: black;
    font-size: xx-large;
    margin-right: 10px;
}

div.project-detail-technologies p{
    flex-basis: 50%;
}

.project-detail p{
    text-align: justify;
    font-size: small;
}

/*. Edit Project */

.edit-project{
    height: 100vh;
    background-color: #e3e7ebab;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: scroll;
}

.edit-project form{
    width: 440px;
    padding: 20px;
    height: 700px;
    background-color: var(--bg-2);
    border-radius: 15px;
}

.edit-project form button{
    bottom: 30px;
    right: 20px;
}

.block{
    display: block;
}

.bx-x-circle{
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: x-large;
}

.bx-x-circle:hover{
    color: grey;
    cursor: pointer;
}